.root {
    -fx-background-color: #F7E7CE;
}

.HUD-border {
    -fx-border-color: #907f66,  #907f66,  #907f66;
    -fx-border-width: 2, 6, 2;
    -fx-border-insets: 0, 2, 8;
    -fx-border-style: solid, segments(25, 25) line-join miter, solid;
}

.map-grid {
    -fx-background-color:
        rgba(97, 233, 245, 0.1),
        linear-gradient(from 0px 0px to 50px 0px, repeat, rgba(168, 122, 62, 0.1) 3%, transparent 3%),
        linear-gradient(from 0px 0px to 0px 50px, repeat, rgba(168, 122, 62, 0.1) 3%, transparent 3%);

    -fx-background-position: center, center, center;
}

.map-grid-transparent {
    -fx-background-color:
            transparent,
            linear-gradient(from 0px 0px to 50px 0px, repeat, rgba(168, 122, 62, 0.1) 3%, transparent 3%),
            linear-gradient(from 0px 0px to 0px 50px, repeat, rgba(168, 122, 62, 0.1) 3%, transparent 3%);

    -fx-background-position: center, center, center;
}


/* Style du titre */
.title-label {
    -fx-font-size: 60;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1515;
    -fx-font-family: "Georgia";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 2, 2);
    -fx-padding: 0 0 30 0;
}


.subtitle-label {
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-text-fill: #6B1515;
    -fx-font-family: "Georgia";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 2, 2);
    -fx-padding: 0 0 30 0;
}

/* Conteneur principal pour centrer */


.button-main {
    -fx-pref-height: 60;
    -fx-pref-width: 256;
    -fx-max-height: 60;
    -fx-max-width: 256;
    -fx-cursor: hand;

    -fx-border-width: 2, 2;
    -fx-border-insets: 6, 11;
    -fx-border-style: solid, solid;
    -fx-border-radius: 0;

    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: "Georgia";
}

.button-icon {
    -fx-cursor: hand;

    -fx-border-width: 0, 0;
    -fx-border-insets: 6, 11;
    -fx-border-style: solid, solid;
    -fx-border-radius: 0;
}

.button-small {
    -fx-cursor: hand;

    -fx-border-width: 0, 0;
    -fx-border-insets: 0, 1;
    -fx-border-style: solid, solid;
    -fx-border-radius: 0;

    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-font-family: "Georgia";
}

.button-light {
    -fx-background-color: #EEDCBE88;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button-light:hover {
    -fx-background-color: rgba(238, 220, 190, 0.65);
    -fx-background-radius: 5;
}


.button-beige {
    -fx-background-color: #EEDCBE;
    -fx-border-color: #675932, #675932;
    -fx-text-fill: #675932;
}

.button-green {
    -fx-background-color: #635A2D;
    -fx-border-color: #EEDCBE, #EEDCBE;
    -fx-text-fill: #EEDCBE;
}

.button-blue {
    -fx-background-color: #2D5763;
    -fx-border-color: #EEDCBE, #EEDCBE;
    -fx-text-fill: #EEDCBE;
}

.button-gray {
    -fx-background-color: #535353;
    -fx-border-color: #EEDCBE, #EEDCBE;
    -fx-text-fill: #EEDCBE;
}

.button-red {
    -fx-background-color: #632D2E;
    -fx-border-color: #EEDCBE, #EEDCBE;
    -fx-text-fill: #EEDCBE;
}

.button-yellow {
    -fx-background-color: #A99235;
    -fx-border-color: #EEDCBE, #EEDCBE;
    -fx-text-fill: #EEDCBE;
}


.button-beige:hover {
    -fx-background-color: #fae9cc;
}

.button-green:hover {
    -fx-background-color: #8d8043;
}

.button-blue:hover {
    -fx-background-color: #3f7986;
}

.button-gray:hover {
    -fx-background-color: #727272;
}

.button-red:hover {
    -fx-background-color: #884142;
}

.button-yellow:hover {
    -fx-background-color: #887741;
}


.button-beige.not-hover:hover {
    -fx-background-color: #EEDCBE;
}

.button-green.not-hover:hover {
    -fx-background-color: #635A2D;
}

.button-blue.not-hover:hover {
    -fx-background-color: #2D5763;
}

.button-gray.not-hover:hover {
    -fx-background-color: #535353;
}

.button-red.not-hover:hover {
    -fx-background-color: #632D2E;
}


.code-field {
    -fx-padding: 10;

    -fx-background-color: #EEDCBE;
    -fx-background-radius: 3;
    -fx-border-width: 0;

    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: #675932;
}

.radius-small {
    -fx-background-radius: 5;
}


.button-beige.not-hover:hover {
    -fx-background-color: #EEDCBE;
}

.button-green.not-hover:hover {
    -fx-background-color: #635A2D;
}

.button-blue.not-hover:hover {
    -fx-background-color: #2D5763;
}

.button-gray.not-hover:hover {
    -fx-background-color: #535353;
}

.button-red.not-hover:hover {
    -fx-background-color: #632D2E;
}

.button-yellow.not-hover:hover {
    -fx-background-color: #A99235;
}


.code-field {
    -fx-padding: 10;

    -fx-background-color: #EEDCBE;
    -fx-background-radius: 3;
    -fx-border-width: 0;

    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-fill: #675932;
}

.radius-small {
    -fx-background-radius: 5;
}


/* HELP PAGE */

.page-title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.help-text {
    -fx-font-size: 14px;
    -fx-line-spacing: 4px;
    -fx-text-fill: white;
}
.slider .thumb {
    -fx-background-color: #bb945a;
    -fx-background-radius: 5;
    -fx-pref-width: 20px;
    -fx-pref-height: 25px;
}

.slider .track {
    -fx-background-color: #75c2c6;
    -fx-pref-height: 10px;
}
.slider .axis {
    -fx-tick-length: 8px;
}
.slider .axis .axis-tick-mark {
    -fx-stroke-width: 4px;   /* épaisseur */
    -fx-stroke:  #eeddc0;
}

.bouton_game {
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-text-fill: #EEDCBE;
    -fx-font-family: "Georgia";
    -fx-background-color: #6B1515;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}